.App {
  flex: 1;
  display: flex;
  min-height: 100vh;
  text-align: center;
  background-color: #e9ebee;
}

div {
  font-family: 'Chelsea Market', sans-serif;
}

.choice-card {
  flex: 1;
  display: flex;
  margin: 25px;

  padding: 0 40px;

  text-align: center;
  border-radius: 25px;
  align-items: center;
  flex-direction: column;
  
  background-color: white;

  border: 10px solid black;

}

img {
  width: 225px;
  height: 225px;
}

h1 {
  font-size: 50px;
} 

h3 {
  margin: 20px 0;
}

.winner {
  color: rgb(89, 167, 0);
  border: 10px solid rgb(89, 167, 0);
}

.loser {
  color: rgb(206, 0, 0);
  border: 10px solid rgb(206, 0, 0);
}

button {
  margin: 15px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.winner-status {
  color: rgb(89, 167, 0);
}

.loser-status {
  color: rgb(206, 0, 0);
}

ol {
  list-style: none;
  counter-reset: round;
}

ol li {
  counter-increment: round;
}

ol li::before {
  content: "Round " counter(round) ": " ;
  color: #17a2b8;
  font-weight: bold;
}

li {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

.col-md-4 button {
  margin-top: 30px;
}

